---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';

@font-face {
  font-family: 'Bebas Neue';
  src: url('/assets/fonts/BebasNeueLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/assets/fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: 700;
}

$sans-font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
$serif-font-family: 'Mate', Georgia, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$base-line-height: 1.4;

$color-black: #1f1f1f;
$color-blackest: #161616;
$color-white: #fff;
$color-cream: #f7f7f7;
$color-blue: #2989de;
$color-red: #ea3e0a;
$color-yellow: #f8e71c;
$color-pink: #ff64e0;
$color-teal: #50e3c2;

$color-text:       #1f1f1f;
$color-bg: #f7f7f7;

$device-medium: 900px;
$device-small: 650px;

$max-width: 1100px;

@mixin responsive($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import 'base';
@import 'header';
@import 'footer';
@import 'homepage';
@import 'music-page';
