<footer class="footer">
  <div class="content-wrapper">
    <div class="footer__content">
      <div class="footer__social-links">
        <a href="https://www.linkedin.com/in/kevinhsia" target="_blank">LinkedIn</a> <span class="separator">|</span> <a href="https://soundcloud.com/kevinjhsia" target="_blank">Soundcloud</a> <span class="separator">|</span> <a href="https://www.flickr.com/photos/artistfriendship/" target="_blank">Flickr</a> <span class="separator">|</span> <a href="https://www.facebook.com/kevinjhsia" target="_blank">Facebook</a> <span class="separator">|</span> <a href="https://twitter.com/kevinjhsia" target="_blank">Twitter</a> <span class="separator">|</span> <a href="https://www.instagram.com/kevinjhsia/" target="_blank">Instagram</a>
      </div>
    </div>
  </div>
</footer>
