<header class="header">
  <div class="content-wrapper">
    <div class="header__wrapper">
      <a class="header__logo" href="{{ site.baseurl }}/"></a>
      <button class="header__mobile-menu-toggle" id="mobile-menu-toggle">
        MENU
      </button>
      <nav class="header__nav"  id="nav-menu">
        {% assign nav_sorted = (site.pages | sort: 'nav-position') %}
        {% for my_page in nav_sorted %}
          {% if my_page.title and my_page.nav-position %}
          <a class="header__nav-link {{ my_page.class }}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>
  </div>
</header>
