// Reset
*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

::selection {
  background-color: $color-pink;
  color: $color-white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Base styles

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $serif-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $sans-font-family;
  font-weight: 700;
}

button {
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.content-wrapper {
  margin: 0 auto;
  max-width: $max-width;
}
