.page-inner.contact {
  .hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/images/robots2x.png);
    background-size: 200px;
  }

  .hero__container {
    display: flex;
    justify-content: center;
    padding: 3em 2em;

    @include responsive($device-small) {
      padding: 3em 1em;
    }
  }

  .hero__avatar-contact {
    background-image: url(../assets/images/contact-pic.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 200px;
    margin-right: 2rem;
    min-height: 200px;
    min-width: 200px;
    width: 200px;

    @include responsive($device-small) {
      margin: 0 0 1rem;
    }
  }

  .hero__about {
    color: $color-white;
    max-width: 35em;
  }

  .hero__about-body p {
    margin-bottom: 0.5em;
  }

  .hero__about-list {
    background-color: red;
    list-style: disc;
    margin-left: 1.5em;

    &:first-child {
      margin-right: 1.5em;
    }
  }

  .hero__heading {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    padding: 0;
    text-shadow: none;
  }

  .page-body {
    border-color: $color-contact;
  }

  .page-body .content-wrapper {
    max-width: 35em;
  }

  .page-body__copy {
    a {
      color: lighten($color-blue, 10);
    }
  }

  .page-body__thanks {
    font-size: 1.6em;
    line-height: 1.8;
    padding: 2em 0;
    text-align: center;
  }
}
