.header {
  background-color: $color-black;
  color: $color-white;
  font-family: $sans-font-family;
  font-size: 1.15rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include responsive($device-medium) {
    font-size: 0.95rem;
  }
}

.header__wrapper {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo {
  background-image: url(/assets/images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin: 0.5em;
  transition: all $transition-speed;
  width: 200px;

  &:focus {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
  }
}

.header__nav {
  @include responsive($device-small) {
    display: flex;
    font-size: 0.85em;
    max-height: 0;
    overflow: hidden;
    transition: max-height ($transition-speed * 2);
    width: 100%;
  }

  &.show {
    max-height: 75px;
  }
}

.header__nav-link {
  box-shadow: inset 0 0 0 $color-blue;
  display: inline-block;
  padding: 1.15em 0.65em 1.1em;
  transition: box-shadow $transition-speed linear;

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    box-shadow: inset 0 4px 0 $color-blue;
    color: $color-blue;
  }

  @include responsive($device-small) {
    padding: 1.15em 0 1.1em;
    text-align: center;
    width: 100%;

    &:hover {
      box-shadow: inset 0 -4px 0 $color-red;
    }
  }

  &.photo {
    box-shadow: inset 0 0 0 $color-photo;

    &:focus,
    &:hover {
      box-shadow: inset 0 4px 0 $color-photo;
      color: $color-photo;

      @include responsive($device-small) {
        box-shadow: inset 0 -4px 0 $color-photo;
      }
    }
  }

  &.video {
    box-shadow: inset 0 0 0 $color-video;

    &:focus,
    &:hover {
      box-shadow: inset 0 4px 0 $color-video;
      color: $color-video;

      @include responsive($device-small) {
        box-shadow: inset 0 -4px 0 $color-video;
      }
    }
  }

  &.music {
    box-shadow: inset 0 0 0 $color-music;

    &:focus,
    &:hover {
      box-shadow: inset 0 4px 0 $color-music;
      color: $color-music;

      @include responsive($device-small) {
        box-shadow: inset 0 -4px 0 $color-music;
      }
    }
  }

  &.contact {
    box-shadow: inset 0 0 0 $color-contact;

    &:focus,
    &:hover {
      box-shadow: inset 0 4px 0 $color-contact;
      color: $color-contact;

      @include responsive($device-small) {
        box-shadow: inset 0 -4px 0 $color-contact;
      }
    }
  }
}

.header__mobile-menu-toggle {
  display: none;
  padding: 1.25em 1em 1.1em;;

  @include responsive($device-small) {
    display: inline-block;
  }
}
