.header {
  background-color: $color-black;
  color: $color-white;
  font-family: $sans-font-family;
  font-size: 1.15rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include responsive($device-medium) {
    font-size: 1.4rem;
  }
}

.header__wrapper {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo {
  background-image: url(/assets/images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin: 0.5em;
  width: 200px;

  img {
    display: none;
  }
}

.header__nav {
  @include responsive($device-small) {
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s;
    width: 100%;
  }

  &.show {
    max-height: 75px;
  }
}

.header__nav-link {
  box-shadow: inset 0 0 0 $color-red;
  display: inline-block;
  padding: 1.15em 0.65em 1.1em;
  transition: box-shadow 0.1s linear;

  &:hover {
    box-shadow: inset 0 4px 0 $color-red;
    color: $color-red;
  }

  @include responsive($device-small) {
    text-align: center;
    width: 100%;

    &:hover {
      box-shadow: inset 0 -4px 0 $color-red;
    }
  }
}

.header__mobile-menu-toggle {
  display: none;
  padding: 0.8em 0.65em 0.6em;

  @include responsive($device-small) {
    display: inline-block;
  }
}
