// Hero
.hero {
  background-image: url(/assets/images/geometry.png);
  // background-size: 25%;
}

.hero__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.75em 0;

  @include responsive($device-small) {
    flex-wrap: wrap;
  }
}

.hero__heading {
  font-size: 2.35rem;
  font-weight: 400;
  padding: 0 2rem 0 4rem;
  max-width: 550px;
  width: calc(2/3 * 100%);

  a {
    color: $color-blue;
    display: inline-block;
    transition: all $transition-speed linear;

    &:hover,
    &:focus {
      color: darken($color-blue, 10);
    }
  }

  @include responsive($device-medium) {
    font-size: 1.8rem;
    padding: 0 2rem;
  }

  @include responsive($device-small) {
    padding: 2rem;
    width: 100%;
  }
}

.hero__avatar {
  overflow: hidden;
  position: relative;
  width: calc(1/3 * 100%);

  &::before {
    $margin: 1em;
    border: 4px solid $color-white;
    content: '';
    height: calc(100% - #{$margin} * 2);
    margin: $margin;
    position: absolute;
    width: calc(100% - #{$margin} * 2);
  }

  @include responsive($device-small) {
    display: none;
  }
}

.hero__avatar-image {
  background-image: url(../assets/images/avatar.png);
  background-size: cover;
  padding-bottom: 100%;
}

// Services
.services {
  background-color: $color-black;
  color: $color-white;
}

.services__items-wrapper {
  display: flex;

  @include responsive($device-small) {
    display: block;
  }
}

.services__item {
  width: calc(1/3 * 100%);

  @include responsive($device-small) {
    width: 100%;
  }
}

.services__item-header {
  background-size: cover;
  border-bottom: 4px solid;
  height: 200px;
  position: relative;

  .services__item--photography & {
    background-image: url(../assets/images/service-item-photo.png);
    border-color: $color-teal;
  }

  .services__item--videography & {
    background-image: url(../assets/images/service-item-video.png);
    border-color: $color-red;
  }

  .services__item--dj-performance & {
    background-image: url(../assets/images/service-item-dj.png);
    border-color: $color-yellow;
  }
}

.services__item-name {
  background-color: rgba($color-black, 0.6);
  bottom: 0;
  font-family: $sans-font-family;
  font-size: 1.15rem;
  font-weight: 400;
  padding: 1em 0.65em 0.85em 1.25rem;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
}

.services__item-body {
  line-height: 2;
  padding: 1.5em 2.5em 2.5em 1.25rem;
}
