// Hero
.hero {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.hero__heading {
  font-size: 2.5rem;
  padding: 0 2rem 0 4rem;
  max-width: 550px;
  width: calc(2/3 * 100%);

  a {
    color: $color-blue;
    text-decoration: underline;
  }

  &::selection,
  a::selection {
    background-color: $color-pink;
    color: $color-white;
  }
}

.hero__avatar {
  overflow: hidden;
  position: relative;
  width: calc(1/3 * 100%);

  &::before {
    $margin: 0.75em;
    border: 2px solid $color-white;
    content: '';
    height: calc(100% - #{$margin} * 2);
    margin: $margin;
    position: absolute;
    width: calc(100% - #{$margin} * 2);
  }
}

.hero__avatar-image {
  background-image: url(../assets/images/avatar.png);
  background-size: cover;
  padding-bottom: 100%;
}

// Services
.services {
  display: flex;
}

.services__item {
  width: calc(1/3 * 100%);
}

.services__item-header {

}
