.page-inner.music {
  .hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/images/music-hero-bg.jpg);
  }

  .hero__soundcloud-wrapper {
    margin-right: 1rem;
    position: relative;
    width: calc(1/3 * 100%);

    @include responsive($device-small) {
      margin: 0 auto;
      width: calc(100% - 2rem);
    }
  }

  .hero__soundcloud-sizer {
    left: 0;
    padding-bottom: 100%;
    top: 0;

    @include responsive($device-small) {
      padding-bottom: 40%;
    }
  }

  .hero__soundcloud-embed {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .page-body {
    border-color: $color-music;
  }

  .page-body__contact-button {
    border-color: $color-music;
    color: $color-music;

    &:hover {
      background-color: $color-music;
      color: $color-black;
    }
  }
}
