.page-inner.photo {
  .hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/images/photo-hero-bg.jpg);
  }

  .hero__slideshow-wrapper {
    margin-right: 1rem;
    position: relative;
    width: calc(1/3 * 100%);

    @include responsive($device-small) {
      margin: 0 auto;
      width: calc(100% - 2rem);
    }
  }

  .hero__slideshow-sizer {
    left: 0;
    padding-bottom: 100%;
    top: 0;

    @include responsive($device-small) {
      padding-bottom: 60%;
    }
  }

  #fancy-slideshow {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  .fancy-slideshow__images-wrapper {
    background-position: 50% 50%;
    background-size: cover;
    bottom: 0;
    border-radius: 0.25rem;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: opacity 0.25s;
    right: 0;
    top: 0;

    &.fade-out {
      opacity: 0;
    }
  }

  .fancy-slideshow__controls-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .fancy-slideshow__prev-arrow,
  .fancy-slideshow__next-arrow {
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    opacity: 0.35;
    position: absolute;
    top: 50%;
    transition: opacity 0.25s;
    transform: translateY(-50%);
    width: 30px;

    &:hover {
      opacity: 0.55;
    }

    &::before {
      border-bottom: 3px solid white;
      border-left: 3px solid white;
      content: '';
      display: block;
      height: 10px;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 10px;
    }
  }

  .fancy-slideshow__prev-arrow {
    left: 5px;

    &::before {
      transform: translateY(-50%) translateX(-30%) rotate(45deg);
    }
  }

  .fancy-slideshow__next-arrow {
    right: 5px;

    &::before {
      transform: translateY(-50%) translateX(-60%) rotate(225deg);
    }
  }

  .page-body {
    border-color: $color-photo;
  }

  .page-body__contact-button {
    border-color: $color-photo;
    color: $color-photo;

    &:hover {
      background-color: $color-photo;
      color: $color-black;
    }
  }

  // Contact form
  .simpleform {
    transition: max-height 0.75s;

    input[type='submit'] {
      border: 2px solid $color-photo;
      color: $color-photo;

      &:hover {
        background-color: $color-photo;
        color: $color-black;
      }

      &:hover {
        background-color: $color-photo;
        color: $color-black;
      }
    }
  }
}
